@font-face {
    font-family: "PT Sans";
    font-style: Regular;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
    }

@font-face {
    font-family: "PT Sans";
    font-style: Bold;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
    }

@font-face {
    font-family: "PT Sans";
    font-style: Bold;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
    }

 @font-face {
    font-family: "PT Sans";
    font-style: Regular;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "PT Sans", Arial, sans-serif;
        font-size: 22px;
        line-height: 26px;
        color: #000;
        background-color: #f2f2f2;
    }

    .wrapper {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        width: 1200px;
        margin: 0 auto;
        background-color: #fff;
      }

    .visually-hidden {
        visibility: hidden;
    }

    .main-header {
        position: relative;
     }

    .header-top {
        display: flex;
        align-items: center;
        padding-left: 70px;
        padding-right: 70px;
        min-height: 65px;
      }

    .navigation {

    }

    .logo {
        position: relative;
        z-index: 1;
        width: 139px;
        height: 70px;
        padding-left: 10px;
        padding-bottom: 5px;
        padding-top: 0;
        margin-right: 47px;
        margin-bottom: -5px;
    }

    .navigation-list {
        display: flex;
        list-style-type: none;
    }

    .navigation-item {
        margin-right: 34px;
    }

    .navigation-link {
        text-decoration: none;
        font-size: 20px;
        line-height: 26px;
        font-weight: bold;
        color: #000;
        display: block;
        padding: 20px 0;
    }

    .navigation-link._active {
        border-bottom: 2px solid #756257;
    }

     .header-contlors {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    .search,
    .favorite {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-icon {

    }

    .favorite {
        position: relative;
    }

    .favorite-icon {

    }

    .favorite-counter {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #7db54f;
        position: absolute;
        top: 0;
        right: -8px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 12px;
      }

    .controls-button {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        background-color: #756157;
        color: #fff;
        text-align: center;
        min-width: 160px;
        cursor: pointer;
        border-radius: 4px;
        border: 0;
        text-transform: uppercase;
        padding: 9px 15px;
        margin-left: 32px;
    }

    .controls-button:hover {
        background-color: #615048;
    }

    .controls-button:focus {
        background-color: #615048;
    }

    .controls-button:active {
        background-color: #756157;
        color: rgba(255, 255, 255, 0.3);
    }

    .controls-button:disabled:hover {
        background-color: #E5E5E5;
    }

    .header-bottom {
        background: url(../images/index-background.png) no-repeat top right/cover;
        padding-top: 51px;
        padding-bottom: 83px;
        margin: 0 auto;
        position: relative;
    }

    .header-bottom:after {
        content: "";
        background: url(../images/decor_header.png) no-repeat bottom center;
        position: absolute;
        height: 57px;
        left: 0;
        bottom: 0;
        right: 0;
      }


    .header-hero {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 458px;
        height: 352px;
    }

    .advantage {

    }

    .page-container {
        max-width: 770px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 90px;
    }

    .advantage-h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 31px;
        margin-top: 63px;
    }

    .advantage-p {
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #333333;
        margin-bottom: 90px;
    }

    .advantage-list {
        list-style-type: none;
    }


    .advantage-container {
        display: flex;
    }

    .adv-box-left {
        background-color: #82b3d3;
        padding: 93px 85px;
        color: #fff;
        text-align: center;
        width: 400px;
        flex-shrink: 0;
    }

    .advantage-title {
        font-size: 24px;
        line-height: 28px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    .advantage-namber {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 30px;
    }

    .advantage-discraptions {
        font-size: 18px;
        line-height: 21px;
    }

    .adv-box-right {
        flex-grow: 1;
        width: 100%;
    }

    .landscape-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
}

    .advantage-list-inner {
        display: flex;
        list-style-type: none;
    }

    .advantage-list-item {
        padding: 80px 85px;
        width: 400px;
        height: 384px;
        text-align: center;
        background: rgba(131, 179, 211, 0.12);
    }

    .advantage-list-item:nth-child(2) {
        background-color: #fff;
    }

    advantage-discraptions {
        max-width: 230px;
        display: inline-block;
        vertical-align: top;
    }

    .advantage-container-revers {
        background-color: #82B3D3;
        color: #FFFFFF;
        display: flex;
        justify-content: flex-start;
    }

    .advantage-container-revers .adv_box-left {
        order: 1;
    }

    .advantage-container-bottom {
        display: flex;
    }

    .advantage-container-bottom > li {
        background: rgba(131, 179, 211, 0.12);
    }

    .advantage-container-bottom > li:nth-child(2) {
        background: rgba(131, 179, 211, 0.2);
    }



    .booking-search {
        font-size: 22px;
        color: #000;
        line-height: 26px;
    }

    .booking-search-container {
        text-align: center;
    }

    .booking-search-item {
        font-style: Bold;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        padding-bottom: 0;
        margin-top: 91px;
        margin-bottom: 29px;
        text-transform: uppercase;
    }

    .booking-search-item-info {
        text-align: center;
        padding-bottom: 50px;
        color: #333333;
        margin-bottom: 56px;
    }

    .booking-search-button {
        font-size: 20px;
        font-weight: 700;
        line-height: 36px;
        background-color: #756157;
        color: #FFFFFF;
        border-radius: 4px;
        border: 0;
        text-transform: uppercase;
        width: 574px;
        padding: 12px 15px;
        margin-bottom: 93px;
        cursor: pointer;
    }

    .booking-search-button:hover {
        background-color: #615048;
    }

    .booking-search-button:focus {
        background-color: #615048;
    }

    .booking-search-button:active {
        background-color: #756157;
        color: rgba(255, 255, 255, 0.3);
    }

    .booking-search-button:disabled {
        background-color: #E5E5E5;
    }

/*catalog*/

    .main-inner {
        background-image: url(../images/background-catalog.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        color: #FFFFFF;
        font-size: 18px;
        line-height: 21px;
    }

    .iner-header {
        padding-top: 35px;
        padding-left: 70px;

    }

    .iner-header-title {
        font-style: Bold;
        font-size: 60px;
        line-height: 78px;
        margin-bottom: 24px;
    }

    .breadcrumbs {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 19px));
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .breadcrumbs-item {
        list-style-type: none;
    }

    .breadcrumbs-img {
        padding-left: 5px;
    }

    .breadcrumbs-icon-home {
        color: #FFFFFF;
    }

    .breadcrumbs-icon-home:hover {
        color: rgba(255, 255, 255, 0.6);
    }

    .breadcrumbs-icon-home:focus {
        color: #FFFFFF;
    }

    .breadcrumbs-icon-home:active {
        color: rgba(255, 255, 255, 0.3);

    }

    .breadcrumbs-a {
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: #FFFFFF;
    }
    .breadcrumbs-a:hover {
        color: rgba(255, 255, 255, 0.6);
    }
    .breadcrumbs-a:focus {
        color: #FFFFFF;
    }
    .breadcrumbs-a:active {
        color: rgba(255, 255, 255, 0.3);
    }

    .filter-form {
        font-family: "PT Sans", Arial, sans-serif;
        display: flex;
        margin-bottom: 70px;
    }

    .filter-box-left {
        display: flex;
        align-items: flex-start;
        margin-left: 70px;
    }

    .filter-group-left {
        margin-right: 70px;
        border: 0;
    }

    .filter-group-right {
        margin-right: 70px;
        border: 0;
    }

    .filter-group-right .control-pseudo-input {
        border-radius: 50%;
        position: relative;
    }

    .filter-group-right .control-input:checked ~ .control-pseudo-input {
        background: #fff url(../images/radiocheck.svg) no-repeat center;
    }

    .filter-title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 24px;
    }

    .filter-list {
        list-style-type: none;
    }

    .filter-item {
        margin-bottom: 12px;
    }

    .control {
        display: flex;
        align-items: center;
    }

    .control-input {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: 0;
        border: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .control-pseudo-input {
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 4px;
        margin-right: 12px;
        cursor: pointer;
    }

    .control-pseudo-input:hover {
        background: rgba(255, 255, 255, 0.6);
    }

    .control-pseudo-input:focus {
        background: rgba(255, 255, 255, 0.6);
        border: 3px solid #83B3D3;
    }

    .control-pseudo-input:active {
        background: rgba(255, 255, 255, 0.3);
    }

    .control-input:checked ~ .control-pseudo-input {
        background: #fff url(../images/check.svg) no-repeat center;
    }

    .filter-box-right {
        display: flex;
        justify-content: flex-end;
        border: 0;
        flex-grow: 1;
    }

    .form-box-inputs {
        position: relative;
    }


    .form-filter-namber {
        margin: 0;
        padding: 0;
        width: 288px;
        display: flex;
        border: 2px solid #FFFFFF;
        border-radius: 4px;
        cursor: pointer;
      }

      .form-filter-namber:hover {
        opacity: 0.6;
      }

      .form-filter-namber:focus {
        box-shadow: 0px 0px 0px 3px #81B3D2;
    }

      .form-filter-namber:active {
        background: #756257;
    }

      .namber-price-from {
        margin: 0;
        padding-top: 14px;
        padding-left: 19px;
        padding-right: 83px;
      }

      .from {
        margin: 0;
        padding-top: 12px;
        padding-bottom: 15px;
        padding-right: 31px;
        opacity: 0.3;
      }

      .line {
        position: absolute;
        border: 1px solid #FFFFFF;
        transform: rotate(90deg);
        width: 48px;
        left: 42%;
        bottom: 50%;
      }

      .namber-price-befor {
        margin: 0;
        padding-top: 14px;
        padding-right: 50px;
      }

      .before {
        margin: 0;
        padding-top: 12px;
        padding-bottom: 15px;
        opacity: 0.3;
      }

    .progress {
        height: 4px;
        width: 288px;
        background-color: rgba(255, 255, 255, 0.3);
        position: relative;
        margin-top: 34px;
    }

    .progress-btn {
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 5px;
        padding: 0;
        border: 0;
        cursor: pointer;
        position: absolute;
        top: 50%;
        margin-top: -10px;
    }

    .progress-btn:hover {
        background-color: #fff;
    }

    .progress-btn:focus {
        border: 3px solid #83B3D3;
    }

    .progress-btn:active {
        border: 2px solid #83B3D3;
    }

    .progress-line {
        position: absolute;
        background-color: #fff;
        top: 0;
        bottom: 0;
    }

    .button-box {
        margin-right: 70px;
        margin-left: 70px;
        margin-top: 45px;
        width: 160px;
    }

    .button-box button {
        display: block;
        margin-bottom: 20px;

    }

    .button-submit {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        width: 160px;
        height: 48px;
        background-color: #82B3D3;
        border: 0;
        border-radius: 4px;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    }

    .button-submit:hover {
        background: #68A2CA;
    }

    .button-submit:focus {
        background: #68A2CA;
    }

    .button-submit:active {
        background: #82B3D3;
        color: rgba(255, 255, 255, 0.3);
    }

    .button-reset {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        padding: 0;
        border: none;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        margin-left: 40px
    }
    .button-reset:hover {
        opacity: 0.6;
    }
    .button-reset:focus {
        border: 3px solid #83B3D3;
        border-radius: 4px;
        color: #FFFFFF;
    }
    .button-reset:active {
        opacity: 0.3;
    }

    .button.button-reset {
        margin-top: 20px;
        margin-left: 40px;
    }

    .catalog {
        width: 1200px;
        color: #000;
        font-size: 18px;
        line-height: 21px;
    }

    .catalog-header {
        display: flex;
        justify-content: space-around;
        padding-bottom: 76px;
        padding-top: 50px;

    }

    .catalog-header-title {
        font-style: Bold;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
    }

    .select-form {

    }

    .select-control {
        color: #333333;
        padding: 14px 129px 14px 20px;
        width: 290px;
        height: 49px;
        appearance: none;
        background: url(../images/vector-arrow.svg) no-repeat 258px 21px;
    }

    .select-control:hover {
        border: 2px solid #82B3D3;
    }

    .select-control:focus {
        border: 2px solid #82B3D3;
    }

    .select-control:active {
        border: 2px solid #3F5E72;
    }



/* filter-button */
    .view-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .view-button {
        width: 48px;
        height: 48px;
        border: 0;
        cursor: pointer;
    }
    .view-button:hover {
        border: 2px solid #000000;
        border-radius: 4px;
        width: 48px;
        height: 48px;

    }

    .view-button:focus {
        border: 2px solid #68A2CA;
        border-radius: 4px;
    }

    .view-button:active {
        border: 2px solid #000000;
        border-radius: 4px;
    }

    .product-cont-top {
        max-width: 1056px;
        display: flex;
        max-height: 438px;
    }

    .product-cont-bottom {
        max-height: 438px;
        display: flex;
    }

    .product-card-list {
        display: flex;
    }

    .product-card-item {
        list-style-type: none;
        padding: 20px;
        margin-right: 18px;
        width: 340px;
    }

    .product-card-item:nth-child(1) {
        padding: 20px;
        padding-bottom: 207px;
        margin-right: 18px;
        margin-left: 73px;
        list-style-type: none;
        width: 340px;
    }

    .product-card-link {
        text-decoration: none;
    }

    .product-card-img {
        margin-bottom: 16px;
    }

    .product-card-title {
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 16px;
    }

    .box-name-p {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        color: #333333;
    }

    .product-name {
        width: 140px;
        margin-right: 20px;
    }

    .product-price {
        width: 140px;
    }

    .product-card-button {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        background-color: #756157;
        color: #FFFFFF;
        min-width: 140px;
        text-transform: uppercase;
        padding: 9px 21px;
        cursor: pointer;
        border-radius: 4px;
        text-decoration: none;
        margin-right: 20px;
    }
    .product-card-button:hover {
        background: #615048;
    }

    .product-card-button:focus {
        background: #615048;
    }

    .product-card-button:active {
        background: #756157;
        color: rgba(255, 255, 255, 0.3);
    }

    .product-card-button:disabled {
        background: #E5E5E5;
        color: #FFFFFF;
    }

    .product-card-favorites {
        font-size: 16px;
        line-height: 20px;
        background-color: #82B3D3;
        color: #FFFFFF;
        min-width: 140px;
        text-transform: uppercase;
        padding: 9px 15px;
        cursor: pointer;
        border-radius: 4px;
        border: none;
        text-decoration: none;
    }

    .product-card-favorites:hover {
        background: #68A2CA;
    }

    .product-card-favorites:focus {
        background: #68A2CA;
    }

    .product-card-favorites:active {
        background: #82B3D3;
        color: rgba(255, 255, 255, 0.3);
    }

    .product-card-favorites:disabled {
        background: #E5E5E5;
    }

    .product-card-favorites-green {
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        background-color: #7DB54F;
        min-width: 140px;
        text-transform: uppercase;
        padding: 9px 15px;
        cursor: pointer;
        border-radius: 4px;
        border: none;
        text-decoration: none;
    }

    .product-card-favorites-green:hover {
        background: #6C9E42;
    }

    .product-card-favorites-green:focus {
        background: #6C9E42;
    }

    .product-card-favorites-green:active {
        background: #7DB54F;
        color: rgba(255, 255, 255, 0.3);
    }

    .product-card-favorites-green:disabled {
        background: #E5E5E5;
    }

    .rating {
        display: flex;
        align-items: center;
        margin-top: 16px;
    }

    .rating-stars {
        margin-right: 20px;
        width: 140px;
    }

    .rating-text {
        font-size: 16px;
        line-height: 20px;
        width: 140px;
        background: #F2F2F2;
        border-radius: 4px;
        padding: 9px 22px;
    }

    .pagination {
        display: flex;
        justify-content: space-between;
        margin-left: 73px;
    }

    .pagination-list {
        display: flex;
        list-style-type: none;
    }

    .pagination-item {
        background: #82B3D3;
        border: 1px solid #82B3D3;
        border-radius: 4px;
        width: 60px;
        height: 60px;
        margin-right: 8px;
        margin-bottom: 25px;
    }

    .pagination-item:hover {
        background-color: #68A2CA;
    }

    .pagination-item:focus {
        background-color: #68A2CA;
    }

    .pagination-item:active {
        background-color: #82B3D3;
        color: rgba(255, 255, 255, 0.3);
    }

    .pagination-item:first-child {
        background-color: #F2F2F2;
        border: none;
    }

    .pagination-link {
        text-decoration: none;
        color: #FFFFFF;
        display: block;
        padding-top: 11.36px;
        font-size: 20px;
        line-height: 36px;
        text-align: center;
    }

    .pagination-link-pagination-current {
        color: #000000;
        display: block;
        padding-top: 11.36px;
        font-size: 20px;
        line-height: 36px;
        text-align: center;
    }

    .number-pages {
        margin-right: 70px;
        color: #333333;
        font-size: 18px;
        line-height: 21px
    }

    .number-pages-title {
        margin-right: 51px;
    }

    .number-pages-info {
        width: 160px;
        height: 49px;
        padding-left: 20px;
        appearance: none;
        background: url(../images/vector-arrow.svg) no-repeat 128px 21px;
    }

    .number-pages-info:hover {
        border: 2px solid #82B3D3;
    }

    .number-pages-info:focus {
        border: 2px solid #82B3D3;
    }

    .number-pages-info:active {
        border: 2px solid #3F5E72;
    }

    .item-decor {
        width: 1055px;
        border: 1px solid #E6E6E6;
        transform: rotate(180deg);
        margin-top: 66px;
        margin-right: 72px;
        margin-left: 73px;
        margin-bottom: 30px;
    }


 /*footer*/
    .main-footer {
        color: #FFFFFF;
    }

    .subscription-footer {
        background-image: url(../images/background-footer.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 411px;
    }

    .subscription-footer-catalog {
        background-image: none;
        height: 411px;
    }

    .subscription-footer-title {
        font-style: Bold;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        padding-top: 94px;
        margin-bottom: 29px;
    }

    .subscription-footer-p {
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 46px;
    }

    .form {
        text-align: center;
        color: #000000;
        display: flex;
        justify-content: center;
    }

    .subscription-footer-form {
        width: 600px;
        height: 60px;
        border-radius: 10px 0px 0px 10px;
        background-color: #F2F2F2;
        border: 0;
    }

    .subscription-footer-form::placeholder {
        padding: 20px 22px;
    }

    .subscription-footer-button {
        font-size: 20px;
        background-color: #82B3D3;
        color: #FFFFFF;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
        min-width: 200px;
        padding: 12px 15px;
        border-radius: 0px 10px 10px 0px;
        border: 0;
        text-transform: uppercase;
        cursor: pointer;
    }

    .subscription-footer-button:hover {
        background: #68A2CA;
    }

    .subscription-footer-button:focus {
        background: #68A2CA;
    }

    .subscription-footer-button:active {
        background: #82B3D3;
        color: rgba(255, 255, 255, 0.3);
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 120px;
    }

    .footer-list {
        display: flex;
        justify-content: space-evenly;
        width: 142px;
        margin-top: 45px;
        margin-bottom: 35px;
        margin-left: 70px;
        list-style-type: none;
    }

    .footer-icon {
        color: #83B3D3;
    }

    .footer-icon:hover {
        color: #68A2CA;
    }

    .footer-icon:focus {
        color: #68A2CA;
    }

    .footer-icon:active {
        color: rgba(104, 162, 202, 0.3);
    }


    .contacts {
        display: flex;
        justify-content: space-evenly;
        margin-right: 70px;
        list-style-type: none;
    }

    .contacts-phone {
        color: #000;
        font-size: 40px;
        line-height: 40px;
        text-decoration: none;
        margin-right: 235px;
    }

    .contacts-phone:hover {
        color: #756157;
    }

    .contacts-phone:focus {
        color: #756157;
    }

    .contacts-phone:active {
        color: color: rgba(117, 97, 87, 0.3);
    }

    .contacts-link {
        margin-top: 49px;
        margin-bottom: 38px;
    }

    .footer-icon-htmlacademy {
        color: #000000;
    }

    .footer-icon-htmlacademy:hover {
        color: #756157;
    }

    .footer-icon-htmlacademy:focus {
        color: #756157;
    }

    .footer-icon-htmlacademy:active {
        color: rgba(117, 97, 87, 0.3);
    }

    /* modal */

    .modal-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(242, 242, 242, 0.8);
        z-index: 2;
      }

      .modal-container.is-open {
        display: grid;
      }

      .modal-container-close {
        display: none;
      }

      .modal {
        position: relative;
        margin: auto;
        padding: 62px 70px 70px;
        background-color: #ffffff;
        border-radius: 30px;
        width: 715px;
      }

      .modal-title {
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
        margin: 0 0 63px 0;
      }

      .modal-close-button {
        position: absolute;
        padding: 0;
        top: 54px;
        right: 70px;
        width: 53px;
        height: 53px;
        background-color: #f2f2f2;
        border-radius: 50%;
        border: none;
        background-image: url("../images/crossform.svg");
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }

      .modal-close-button:hover {
        background-color: #e6e6e6;
      }

      .modal-close-button:focus {
        outline: 3px solid #83b3d3;
      }

      .modal-close-button:active {
        background-color: #e6e6e6;
        outline: none;
      }

      .input-wrapper {
        display: grid;
        position: relative;
        grid-template-columns: 155px 367px 53px;
        align-items: center;
        margin-bottom: 40px;
      }

      .input-wrapper.is-invalid .date-text-error {
        display: block;
      }

      .input-wrapper.is-valid .date-text-received {
        display: block;
      }

      .date-text {
        grid-column: 2/4;
        padding: 15px 40px 15px 19px;
        background-color: #f2f2f2;
        border-radius: 4px;
        border: none;
        min-height: 50px;
      }

      .date-text::placeholder {
        font-size: 18px;
        line-height: 21px;
        color: #000000;
      }

      .date-text:hover {
        background-color: #e6e6e6;
      }

      .date-text:focus {
        background-color: #e6e6e6;
        outline: 3px solid #83b3d3;
      }

      .date-text:not(:placeholder-shown) {
        background-color: #ffffff;
        outline: 2px solid #000000;
      }

      .date-button {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 50%;
        right: 17px;
        transform: translateY(-50%);
        background-image: url("../images/calendar.svg");
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        cursor: pointer;
      }

      .date-text-error {
        grid-column: 2/3;
        margin: 0;
        color: #ff5757;
        font-size: 16px;
        line-height: 21px;
        display: none;
        position: absolute;
        top: 56px;
      }

      .date-text-received {
        grid-column: 2/3;
        margin: 0;
        font-size: 16px;
        line-height: 21px;
        color: #333333;
        display: none;
        position: absolute;
        top: 56px;
      }

      .label-date {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        flex-wrap: wrap;
      }

      .field-box-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;
      }

      .field-box {
        position: relative;
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: space-between;
      }

      .input-box-wrapper {
        position: relative;
      }

      .field-number {
        width: 133px;
        min-height: 50px;
        padding: 15px 40px 14px 40px;
        background-color: #f2f2f2;
        border-radius: 4px;
        border: none;
        text-align: center;
      }

      .field-label-adult {
        margin-right: 64px;
      }

      .field-label-children {
        margin-left: 56px;
      }

      .field-number::placeholder {
        font-size: 18px;
        line-height: 21px;
        color: #000000;
      }

      .field-button {
        width: 25px;
        height: 25px;
        border: none;
        cursor: pointer;
        background: transparent;
        position: absolute;
        top: 45%;
        transform: translateY(-45%);
        border-radius: 4px;
        outline: none;
      }

      .field-button::before,
      .field-button::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 13px;
        height: 1px;
        background-color: #000000;
        opacity: 0.3;
      }

      .field-button::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }

      .button-minus {
        left: 14px;
      }

      .button-minus::after {
        display: none;
      }

      .button-plus {
        right: 14px;
      }

      .field-button:hover::before,
      .field-button:hover::after {
        opacity: 1;
      }

      .field-button:focus::before,
      .field-button:focus::after {
        opacity: 1;
      }

      .field-button:focus {
        box-shadow: inset 0 0 0 3px #83b3d3;
      }

      .field-button:active::before,
      .field-button:active::after {
        opacity: 0.2;
      }

      .modal-search {
        min-width: 575px;
        display: block;
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #83b3d3;
        border-radius: 10px;
        padding: 12px 26px;
      }

      .modal-search:hover {
        background-color: #68a2ca;
      }

      .modal-search:focus {
        background-color: #68a2ca;
        outline: 3px solid #756257;
      }

      .modal-search:active {
        color: rgba(255, 255, 255, 0.3);
      }

      .tooltip {
        position: absolute;
        z-index: 1;
        left: 110px;
        top: 14px;
      }

      .tooltip-button {
        width: 25px;
        height: 25px;
        background-color: #83b3d3;
        border-radius: 50%;
        background-image: url("../images/tooltip-button.svg");
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
      }

      .tooltip-content {
        position: absolute;
        padding: 15px 18px 18px 22px;
        width: 256px;
        display: block;
        background-color: #333333;
        color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
        left: 50%;
        bottom: -10px;
        transform: translate(-50%, 100%);
        font-size: 16px;
        line-height: 21px;
        font-weight: 400;
        display: none;
      }

      .tooltip-content::before {
        content: "";
        background-image: url("#");
        width: 19px;
        height: 9px;
        position: absolute;
        bottom: 99%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }

      .tooltip-button:hover + .tooltip-content,
      .tooltip-button:focus + .tooltip-content {
        display: block;
      }
